body {
    background: rgb(23, 32, 61);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    font-weight: normal;
    color: rgb(158, 158, 158)
}